#add-new-vocabulary
.conatiner {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding-left: 28px;
    margin: 20px;
    padding-right: 28px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.22);

    .title {
        color: #5e5873;
        size: 18px;
        font-family: Montserrat-Medium;
    }

    .input-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        input {
            height: 38px;
            width: 47%;
            border: 1px #d8d6de solid;
            font-family: Montserrat-Regular;
            font-size: 16px;
            color: #6e6b7b;
            box-sizing: border-box;
            border-radius: 5px;
            padding-left: 15px;
            padding-right: 15px;

            &:focus {
                outline-color: #7367f0;
            };
        }
    }

    .btn-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .btn--submit {
            width: 96px;
            height: 37px;
            margin-top: 16px;
            margin-bottom: 16px;
            background-color: #7367f0;
            font-family: Montserrat-Medium;
            color: white;
            font-size: 14px;
            border-radius: 5px;
            border: none;
            position: relative;
            overflow: hidden;

            &:hover {
                box-shadow: 0px 0px 10px 0px rgb(115, 103, 240, 0.65);
            }

            &::before{
                content: "";
                position: absolute;
                background-color: white;
                padding: 50%;
                border: 50%;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                transform:translate(-50%,-50%) scale(1);
                opacity: 0;
                transition: transform 1s, opacity 1s;
            }

            &:active::before{
                transition:  0s;
                opacity: 1;
                transform: translate(-50%,-50%) scale(0);
            }
        }
    }
}
