#list-vocabulary .conatiner {
    height: 800px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.22);

    .title-container{
        height: 70px;
        display: flex;
        align-items: center;

        .title {
            color: #5e5873;
            padding-left: 28px;
            size: 18px;
            font-family: Montserrat-Medium;
            margin: 0;
            align-items: center;
            box-sizing: border-box;
        }
    }

    .control-container{
        height: 68px;
       border-top: 1px #EBE9F1 solid;
       display: flex;
       flex-direction: row;
       align-items: center;
       padding-left: 28px;

       p{
           font-family: Montserrat-Regular;
           font-size: 14px;
           color: #6E6B7B;
           
       }
    }
  

    .list-item-container {
        height: 85%;
        width: 100%;
        box-sizing: border-box;

        table {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0px 1px;
            background-color: #E9ECEF;

            #table-header{
                height: 40px;
                color: #5E5873;
                font-family: Montserrat-SemiBold;
                font-size: 12px;
            }

            td {
                background-color: white;
                text-align: start;
                height: 44px;
                font-family: Montserrat-Regular;
                font-size: 14px;
                padding-left: 28px;
                color: #6E6B7B;

            }
    
            th{
                text-align: start;
                padding-left: 28px;
            }
        }  
    }

    .btn-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .btn {
            width: 96px;
            height: 37px;
            margin-top: 16px;
            margin-left: 12px;
            margin-bottom: 16px;
            background-color: #7367f0;
            font-family: Montserrat-Medium;
            color: white;
            font-size: 14px;
            border-radius: 5px;
            border: none;
            position: relative;
            overflow: hidden;

            &:hover {
                box-shadow: 0px 0px 10px 0px rgb(115, 103, 240, 0.65);
            }

            &::before {
                content: "";
                position: absolute;
                background-color: white;
                padding: 50%;
                border: 50%;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale(1);
                opacity: 0;
                transition: transform 1s, opacity 1s;
            }

            &:active::before {
                transition: 0s;
                opacity: 1;
                transform: translate(-50%, -50%) scale(0);
            }
        }

        #btn--random {
            background-color: #ff9f43;
            &:hover {
                box-shadow: 0px 0px 10px 0px rgba(255, 159, 67, 0.65);
            }
        }

        #btn--check {
            background-color: #28cf6f;
            &:hover {
                box-shadow: 0px 0px 10px 0px rgba(40, 207, 111, 0.65);
            }
        }

        #btn--show {
            &:hover {
                box-shadow: 0px 0px 10px 0px rgb(115, 103, 240, 0.65);
            }
        }
    }
}
